mixin svg(file, index, part)
    - var xml = file
    button(id=index, class="add-part" data-part-type=part)
        svg(
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 36 36"
            aria-hidden="true"
            focusable="false"
            pointer-events="none" 
            data-part=index
        )!= xml

mixin tab(label, index, selected)
    li(role="tab", tabindex="0", aria-controls="options-tab_"+ index, aria-selected=selected)= label

mixin tabpabel(label, index, expanded, parts)
    div(id="options-tab_" + index, role="tabpanel", aria-expanded=expanded)
        div.category__contents
            h2(class="sr-only")= label
            each part in parts
                +svg(part.xml, part.index, part.part)

doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/css?family=Amatic+SC&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap', rel='stylesheet')
        link(rel='stylesheet' href='style.css')
        title Remixoji | Remix Emojis for Funzies!
    body
        div.app-container
            header.header
                div.brand Remixoji
            section
                div.download
                    a(class="download-button", id="download-png") 
                        span.sr-only Download
                        span.desktop-only PNG
                    a(class="download-button", id="download-svg")
                        span.sr-only Download
                        span.desktop-only SVG
            div.tabs-svg-wrap
                main.svg-wrap
                    svg(
                        id="remix"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 36 36"
                        width="36"
                        height="36"
                    )
                section.tabs-wrap
                    div.tabs-container#options-tabs
                        ul(aria-controls="options-tabs", role="tablist")
                            each category, index in updatedEmojiParts
                                if (index === 0)
                                    +tab(category[0], index, 'true')
                                else
                                    +tab(category[0], index, 'false')
                        each category, index in updatedEmojiParts
                            if (index === 0)
                                +tabpabel(category[0], index, "true", category[1])
                            else
                                +tabpabel(category[0], index, "false", category[1])
                div.controls
                    button.controls__button#remove-all-parts
                        span Remove all
            footer.footer
                p Emojis from Twitter Open Source Emojis
                p Remixes on Instagram | Code on Github
    script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js")
    script(src="script.js")
    script(src="script2.js")